body {
  padding-top: 80px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0d1117;
  color: #c9d1d9;
  line-height: 1.6;
}

section {
  padding: 80px 20px;
  max-width: 900px;
  margin: auto;
}

/* HERO */
#hero {
  text-align: center;
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#hero h1 {
  font-size: 3rem;
}

#hero p {
  font-size: 1.2rem;
  color: #8b949e;
}

.highlight {
  color: #58a6ff;
}

/* ABOUT */
#about {
  max-width: 700px;
  margin: 0 auto;
  text-align: left;
}

h2 {
  color: #58a6ff;
  margin-bottom: 20px;
}

/* NAVBAR */
.navbar {
  .nav-container {
  max-width: 1300px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

}

.logo {
  font-size: 1.2rem;
  font-weight: bold;
}

/* CV BUTTON */
.cv-btn {
  padding: 20px 20px;
  background-color: #f25d00;
  color: #0d1117;
  text-decoration: brown;
  border-radius: 6px;
  font-weight: bold;
}

.cv-btn:hover {
  transform: translateY(-2px);
}
.school-link {
  color: #58a6ff;
  text-decoration: none;
  font-weight: 500;
}

.school-link:hover {
  text-decoration: underline;
}

